@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #333;
  --content-bg-color: #222;
  --fg-color: #bcbcbc;
  --fg-bright-color: #ddd;
  --nodevember-color: #bc1010;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body), sans-serif;
  font-size: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.35;
}

a {
  color: var(--fg-bright-color);
  text-decoration: underline;
  transition: color ease-in-out;
}

a:hover {
  color: var(--fg-color);
}

.prompt-grid {
  background-color: #111;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2.5rem;
}

.prompt-block {
  background-color: #333;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.prompt-label {
  padding: 0.5rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.125rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  color: #fff;
}

.prompt-list {
  padding: 1rem;
}

.prompt-item {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  color: #ddd;
  border-bottom: 1px solid #111;
}

.prompt-item:last-child {
  border-bottom: none;
}
