@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #333;
  --content-bg-color: #222;
  --fg-color: #bcbcbc;
  --fg-bright-color: #ddd;
  --nodevember-color: #bc1010;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body), sans-serif;
  font-size: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.35;
}

a {
  color: var(--fg-bright-color);
  text-decoration: underline;
  transition: color ease-in-out;
}

a:hover {
  color: var(--fg-color);
}
